    <!-- Footer -->
    <footer class="text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5 class="text-uppercase">Autoprime</h5>
                    <p>Your trusted partner in car maintenance. We offer monthly and annual services with pickup and delivery options.</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html" class="text-white">Home</a></li>
                        <li><a href="carowner.html" class="text-white">Car Owner</a></li>
                        <li><a href="service_provider.html" class="text-white">Service Provider</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="mailto:support@carserviceco.com" class="text-white">Email: support@carserviceco.com</a></li>
                        <li><a href="tel:+1234567890" class="text-white">Phone: +123 456 7890</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-dark text-light">
            © 2024 Autoprime. All Rights Reserved.
        </div>
    </footer>
